<video src="/img/videos/video.mp4" muted loop autoplay></video>
<div class="overlay"></div>

<div class="container p-5">
  <div class="text">
    <h4>Bienvenido: {{user.name}}</h4>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div> PANEL DE CONTROL: MÁQUINAS </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a href="/notes/add" class="btn btn-success m-0"><i class="fas fa-plus-circle"> Crear</i></a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <div class="row2">
      {{#each notes}}
      <div class="row-md-3">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title d-flex justify-content-between align-items-center">
              {{ title }} <a href="/notes/edit/{{_id}}"><i class="fas fa-edit"></i></a>
            </h4>
            <hr>
            <span class="badge d-flex justify-content-between align-items-center">{{type}} <span
                class="badge">Inventario: {{quantity}}</span></span>
            <p>{{ description }} </p>
            <!-- DELETE REQUEST -->
            <form action="/notes/delete/{{_id}}?_method=DELETE" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button type="submit" class="btn btn-danger btn-block btn-sm">Borrar</button>
            </form>
          </div>
        </div>
      </div>
      {{else}}
      <div class="card mx-auto">
        <div class="card-body">
          <p clsss="lead">Parece que aún no tienes Laboratorios.</p>
          <a href="/notes/add" class="btn btn-success btn-block">¡Crear uno ahora!</a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>